@import "tailwindcss";
@import "tw-animate-css";
@import "../../../packages/ui/tokens.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-source-sans);
  --font-mono: var(--font-ibm-plex-mono);
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body {
    overflow-x: hidden;
  }
  body {
    @apply bg-background text-foreground;
  }
}
